POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SENTRY_SECRET_KEY=somesecret
SENTRY_POSTGRES_HOST=postgres
SENTRY_DB_USER=postgres
SENTRY_DB_PASSWORD=postgres
SENTRY_REDIS_HOST=redis
SENTRY_EMAIL_HOST=smtp.gmail.com 
SENTRY_EMAIL_PORT=587 
SENTRY_EMAIL_PASSWORD={pass} 
SENTRY_EMAIL_USER={email} 
SENTRY_EMAIL_USE_TLS=true 
SENTRY_SERVER_EMAIL={email}